@charset "UTF-8";
/* CSS Document */
@font-face {
	font-family: 'Industrie Inc W00 Bevel';
	src: url('../fonts/Industrie_Inc_W00_Bevel/Industrie Inc W00 Bevel.eot');
	src: url('../fonts/Industrie_Inc_W00_Bevel/Industrie Inc W00 Bevel.eot?#iefix') format('embedded-opentype'),
url('../fonts/Industrie_Inc_W00_Bevel/Industrie Inc W00 Bevel.woff') format('woff'),
url('../fonts/Industrie_Inc_W00_Bevel/Industrie Inc W00 Bevel.ttf') format('truetype'),
url('../fonts/Industrie_Inc_W00_Bevel/Industrie Inc W00 Bevel.svg') format('svg');
}

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a:hover {
	cursor: pointer;
}

body {
	padding: 0;
	margin: 0;
	color: #FFFFFF;
	font-size: 1em;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #333333;

}

#container {
	display: flex;
	margin: 0 auto;
	padding: 0;
	flex-direction: column;
	z-index: 1;
}

header {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	flex-direction: column;
	-webkit-box-shadow: 0 30px 100px #171717;
	box-shadow: 0 30px 100px #171717;
	position: fixed;
	font-family: "Industrie Inc W00 Bevel";
	z-index: 10;
	display: flex;
	justify-content: center;
	background-color: #000000;
}

header #entete {
	flex-direction: column;
	display: flex;
}

header #logo {
	height: auto;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	max-width: 312px;
}

header #entete p {
	margin-top: 15px;
	font-style: italic;
	line-height: 0.8em;
	font-size: 1.5em;
	text-decoration: underline;
}

header nav {
	display: none;
	font-family: "Industrie Inc W00 Bevel";
	height: 60px;
	font-style: italic;
}

nav ul {
	margin-right: auto;
	margin-left: auto;
	list-style: none;
	padding-left: 5px;
	padding-right: 5px;
	display: flex;
	background-repeat: repeat-x;
	background-image: url(../img/background-nav.png);
}

nav ul li {
	flex-direction: column;
	padding-right: 10px;
	padding-left: 10px;
}

nav ul li  a {
	text-align: center;
	height: 60px;
	display: flex;
	align-items: center;
	text-decoration: underline;
	align-content: center;
	padding-top: 3px;
}
nav ul li:hover  {
	background: url(../img/background-nav-hover.png);
	background-repeat: repeat-x;
}
nav ul li:active   {
	font-weight: bold;
	background-image: url(../img/background-nav-active.png) !important;
	background-repeat: repeat-x;
}

header, section, footer, aside, article {
	display: flex;
	margin-top: 0px;
	padding-right: 15px;
	padding-left: 15px;
}

#section1 {
	margin-top: 190px;
	padding-right: 15px;
	padding-left: 15px;
}

article {
	background-color: rgba(0,0,0,0.66);
	margin-bottom: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
}

@media only screen and (min-width:768px){


header #entete {
	flex-direction: row;
}

header #logo {
	height: auto;
	width: 312px;
	margin-left: 0px;
}

header #entete p {
	align-self: flex-end;
}

header nav {
	display: flex;
	margin-top: 25px;
}

#section1 {
	margin-top: 230px;
}
	

}

@media screen and (min-width:991px){

header {
	background-image: url(../img/background-header-991w.jpg) !important;
	background-position: left top;
	background-attachment: fixed;
}

body {
	background-image: url(../img/background-991w.jpg) !important;
	background-position: left top;
	background-attachment: fixed;
}
}

@media screen and (min-width:1200px){

body {
}
}
